#page-not-found {
  .icon {
    font-size: 100px;
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
  }

  .mat-display-2, .icon {
    color: #666666;
  }

  b {
    color: #a70000;
  }
}
