<div id="question-type">
  <mat-radio-group
    (change)="answer.emit(data)"
    *ngIf="type === TypesEnum.RADIOBOX"
    [(ngModel)]="data"
    fxLayout="column"
    fxLayoutGap="15px"
  >
    <mat-radio-button (change)="checkIfHasChild(choice)" *ngFor="let choice of getChoices" [value]="choice?.id">
      {{choice?.info}}
    </mat-radio-button>
  </mat-radio-group>

  <section *ngIf="type === TypesEnum.CHECKBOX" fxLayout="column" fxLayoutGap="10px">
    <mat-checkbox *ngFor="let data of getChoices" (change)="checked($event, data)">{{data?.info}}</mat-checkbox>
  </section>

  <mat-form-field *ngIf="getChildChoices.length > 0" appearance="fill" class="example-full-width w-500 mt-20">
    <mat-label>Answer</mat-label>
    <input [(ngModel)]="childData"
           [matAutocomplete]="autoComplete"
           matInput
           placeholder="Pick one"
           type="text">
    <mat-autocomplete #autoComplete="matAutocomplete" autoActiveFirstOption>
      <mat-option (click)="answer.emit(data.id)" *ngFor="let data of getChildChoices" [value]="data?.info">
        {{data?.info}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field *ngIf="type === TypesEnum.TEXTBOX" appearance="fill" class="ml-20 w-500">
    <mat-label>Answer</mat-label>
    <input (change)="answer.emit(data)" [(ngModel)]="data" autocomplete="off" matInput placeholder="Answer">
  </mat-form-field>
</div>
